process {

    withName:TRIM_ALL_READS {
        container = 'bagranier/trim_galore_cutadapt'
    }
    withName:DOWNLOAD_SRA {
        container = 'pierrejeangouze/sra_toolkit'
    }

    withName: INDEX_CREATION {
        container = 'vmichelet/bowtie:0.12.7-samtools'
    }

    withName: FEATURECOUNTS {
        container = 'pierrejeangouze/featurecounts:1.4.6-p3'
    }

    withName: deseq2 {
        container = 'vmichelet/r341_desq2'
    }
    withName: pca {
        container = 'vmichelet/rdesq2_pca_recent'
    }
}


docker {
    enabled = true
    runOptions="--entrypoint ''"
}
