process {

    withName:TRIM_ALL_READS {
        container = 'bagranier/trim_galore_cutadapt'
    }
    withName:DOWNLOAD_SRA {
        container = 'pierrejeangouze/sra_toolkit'
    }

    withName: INDEX_CREATION {
        container = 'bagranier/bowtie:0.12.7-fixed'
    }
}


docker {
    enabled = true
}